<!doctype html>
<html lang='en'>

<head>
  <meta charset='UTF-8' />
  <title>Rpg</title>
  <link rel='stylesheet' href='client/style/game.css'/>
  <script src='client/js/phaser.min.js'></script>
  <script src='client/js/game.js'></script>

</head>

<body>

<div id="game"></div>

<script src='client/js/boot.js'></script>

</body>

</html>